.ios, .md{
    page-news {
        ion-card{
            background-color: #fff;
            border-radius: 5px;
            max-height: 200px;
            
        }
        ion-card-content{
            font-size:0.5em;
            
        }
        
    }
}

